.educational-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 150px;

    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}