@font-face {
    font-family: Anta;
    src: url('Anta-Regular.ttf');
}

.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
    width: 100vw;
    height: 75px;

    background-color: gray;
    color: white;

    font-family: Anta, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.footer-child {
    margin-right: 20px;
}
