.cv-form {
    display: flex;
    flex-direction: column;
    justify-content:stretch;

    min-height: 500px;
    min-width: 45vw;

    border: 3px solid black;

    padding: 20px;
}

.general-info, .educational-experiences, .professional-experiences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100px;

    padding: 20px;

    border-bottom: 2px solid red;
}

.add-button, .remove-button {
    width: 75px;
}

button {
    margin-bottom: 10px;
}

.submit-button {
    width: 15%;

    margin-top: 10px;
}